*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    background: white;
    border-bottom: 1px solid grey;
}
nav>ul{
    display: flex;
    align-items: center;
}
.logo-header>a{
    text-decoration: none;
    font-size: 12px;
    color: grey;
    padding: 10px;
    text-align: center;
}
.logo-header{
    display: flex;
    align-items: center;
}
.logo-header>h2{
    /* per non fare andare a capo il logo */
    min-width: 150px;
}
h2>i{
    color: #0161fe;
}
.header-dx>a{
    text-decoration: none;
    font-size: 12px;
    color: grey;
    text-align: center;
    padding: 20px;
}
/* dropdown */
.dropbtn {
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background: white;
    color: grey;

  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    background:rgba(91, 91, 80, 0.25);
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    z-index: 1;
    left: 0;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: rgba(250, 250, 250, 0.9);
}
  .dropdown:hover .dropdown-content {
    display: block;
}
  .dropdown:hover .dropbtn {
    background-color: rgba(91, 91, 80, 0.25);
    color: black;
    }

/* dropdown fine */

main{
    margin-top: 60px;
}
.jambotron{
    width: 100%;
    height: 600px;
    background: #B8CEE4;
}
.container-jambotron{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
h1{
    font-size: 55px;
    margin-bottom: 40px;
    font-weight: 900;
}
.testo-img{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.testo-img>img{
    width: 70%;
    height: 450px;
}
.testo-img p{
    width: 30%;
    display:inline-block;
    display: flex;
    flex-direction: column;
}
.testo-img a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-top: 30px;
}
.sez-tariffe{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    margin: 100px auto;
}
.container-tariffe{
    width: 80%;
    margin: 0 auto;
}
.container-tariffe>h2{
margin: 40px auto;
}

/* tasti */
.btn {
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	padding:5px 10px;
	text-decoration:none;
    margin: 20px 0;
}
.blue{
    background-color: #0161fe;
    color: white;
}
.white{
    background-color: white;
    border: 1px solid black;
}
.btn-jambotron{
    width: 200px;
}
.tabella{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.singolo{
    width: calc(100% / 3);
    height: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid gainsboro;
    margin-right:30px
}
.header-tab{
    width: 100%;
    text-align: center;
    padding: 5px;
    border-bottom:2px solid gainsboro;
}
.main-tab{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.primasezione{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}
.primasezione h3{
    margin-bottom: 10px;
}
.costo-tab{
    font-weight: bold;
    margin-bottom: 10px;
}
.abbonamento-tab{
    font-style:italic;
    color: grey;
}
.secondasezione{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    font-size: 15px;
    height: 200px;
}
.secondasezione i{
    margin-right: 10px;
}
.icotxt{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0;
}
.terzasezione{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.terzasezione a{
    color: blue;
}
.terzasezione>span{
    padding-bottom: 40px;
   border-bottom: 1px solid grey;
}
.quartasezione{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quartasezione ul{
    padding-left: 20px;
}
ul li{
    list-style: none;
    margin-top: 10px;    
    /* non fare andare il testo sotto il bullet del li */
    list-style-position: inside;
    padding: 10px 0 10px 0px;
    text-indent: -1em;
}
ul li:before {
    content: '✓';
    margin-right: 5px;
    color: blue;
    font-weight: bold;
  }

/* RADIO BUTTON  */
.button {
    cursor: pointer;
    display: inline-block;
    font: 15px Arial, Verdana, Geneva, sans-serif;
    line-height: 41px;
    padding-right: 40px;
}
.button:hover .inner {
    opacity: .5;
}
.button input {
    display: none;
}
.button input:checked + .outer .inner {
    opacity: 1;
}
.button .outer {
    background: #2989d8;
    background: -moz-radial-gradient(center, ellipse cover, #2989d8 0%, #101354 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2989d8), color-stop(99%, #101354));
    background: -webkit-radial-gradient(center, ellipse cover, #2989d8 0%, #101354 99%);
    background: -o-radial-gradient(center, ellipse cover, #2989d8 0%, #101354 99%);
    background: -ms-radial-gradient(center, ellipse cover, #2989d8 0%, #101354 99%);
    background: radial-gradient(center, ellipse cover, #2989d8 0%, #101354 99%);
    border: 1px solid black;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: block;
    float: left;
    height: 20px;
    margin: 10px;
    width: 20px;
}
.button .inner {
    background: #e4f5fc;
    background: -moz-radial-gradient(center, ellipse cover, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e4f5fc), color-stop(50%, #bfe8f9), color-stop(51%, #9fd8ef), color-stop(100%, #2ab0ed));
    background: -webkit-radial-gradient(center, ellipse cover, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%);
    background: -o-radial-gradient(center, ellipse cover, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%);
    background: -ms-radial-gradient(center, ellipse cover, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%);
    background: radial-gradient(center, ellipse cover, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: block;
    height: 14px;
    margin: 3px;
    opacity: 0;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    width: 14px;
}
/* RADIO BUTTON */

.contact-main{
    width: 80%;
    margin: 0 auto;
    border: 1px solid gainsboro;
    margin-top: 50px;
}
.contact-content{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-content h3{
    text-align: center;
}

.contact-content-txt{
    padding: 20px;
}
.contact-content-txt p{
    margin-top: 20px;
}
.partner-txt-container>p{
    padding: 0;
    margin: 10px auto;
}
.partner-txt-container{
    margin-top: 20px;
}
.partner{
    width: 80%;
    margin: 100px auto;
    display: flex;
}
.partner-foto{
    width: 55%;  
}
.partner-txt{
    width: 45%;
    padding: 50px;
}
.partner-txt-container{
    width: 80%;
    margin: 0 auto;
}
.partner-foto img{
    width: 100%;
}
.features{
    width: 80%;
    margin: 20px auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.features-card{
    width: calc(100% / 3);
}
.features-card-photo{
    height: 50%;
    width: 100%;
}
.features-card-title{
    width: 100%;
    align-self: center;
    font-weight: bold
}
.features-card-text{
    margin: 20px 0;
    height: 30%;
    overflow: hidden;
}
.features-card img{
    height: 100%;
    width: 100%;
}
.clienti-container{
    width: 80%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.clienti-container a{
    color: blue;
    margin-top: 50px;
}
/* sezione banner */
.banner{
    width: 100%;
    display: flex;
}
.sezione-banner-sx{
width: 30%;
display: flex;
align-content: flex-start;
flex-wrap: wrap;
}
.sezione-banner-dx{
width: 30%;
height: 400px;
}
.sezione-banner-centrale{
    width: 40%;
    height: 400px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.header-sezione-banner-centrale{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    margin-top: 20px;
}
.header-sezione-banner-centrale>img{
    width: 200px;
    height: 100px;
    border-bottom: 1px solid black;
}
.text-sezione-banner-centrale{
    height: 80%;
    width: 100%;
    padding: 30px;
}
.card-banner{
    width: calc(100% / 2);
    min-height: 200px;
    /* deb */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.card-banner>img{
    width: 50%;
    filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
}
.designit{
    background-color:#AAD09F ;
}
.arizonauniversity{
    background-color: #59192F;
}
.floridauniversity{
    background-color: #428FC7;
}
.topps{
    background-color: #EA3E33;
}
.bicycle{
    background-color: #C22D2F;
}
.hearst{
    background-color: #B8CEE4;
}
.lonely{
    background-color: #1A287B;
}
.outdoor{
    background-color: #F8D857;
}
.prova-gratuita{
    width: 100%;
    height: 200px;
    background-color: #B8CEE4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
.faq{
    width: 100%;
    height: 100%;
}
.faq-container>h2{
    width: 350px;
    min-height: 80px;
}
.faq-container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
}
.faq-row{
    width: 100%;
    height: 100px;
    border-top: 1px solid grey;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-weight: bold;
}
.faq-row>i{
    margin-right: 50px;
}
.faq-row:last-of-type{
    border-bottom: 1px solid grey;
}
.faq-row-answer{
    display: none;
    /* border: 1px solid grey; */
    background-color: rgba(91, 91, 80, 0.25);
    padding: 5px 0;
}   
.faq-row:hover + .faq-row-answer {
    display: block;
  }
.faq-row:hover{
    background-color: rgba(252, 255, 0, 0.36);
}
footer{
    background: black;
    width: 100%;
    margin-top: 100px;
}
.container-footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    overflow-x: hidden;
    height: 100%;
    margin-bottom: 100px;
}
.card-footer{
    width: calc(100% / 5);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.link-footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.link-footer>a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.link-footer>h4{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.lingua-footer{
    width: 80%;
    color: white;
    margin: 0 auto;
    min-height: 100px;
}
.lingua-footer>span{
    border-top: 1px solid white;
    padding-top: 30px;
    color: grey;
}
.link-footer>a:hover{
    border-bottom: 1px solid white;
}