*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    background: white;
}
nav>ul{
    display: flex;
    align-items: center;
}
.logo-header>a{
    text-decoration: none;
    font-size: 12px;
    color: grey;
    padding: 20px;
    text-align: center;
}
.logo-header{
    display: flex;
    align-items: center;
}
.logo-header>h2{
    /* per non fare andare a capo il logo */
    min-width: 200px;
}
h2>i{
    color: #0161fe;
}
.header-dx>a{
    text-decoration: none;
    font-size: 12px;
    color: grey;
    text-align: center;
    padding: 20px;
}
main{
    margin-top: 60px;
}
.jambotron{
    width: 100%;
    height: 600px;
    background: #B8CEE4;
}
.container-jambotron{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
}
h1{
    font-size: 50px;
    margin-bottom: 40px;
}
.testo-img{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.testo-img>img{
float: right;
width: 70%;
height: 100%;
}
.testo-img p{
    width: 30%;
    display:inline-block;
    display: flex;
    flex-direction: column;
}
.testo-img a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-top: 30px;
}
/* tasti */
.btn {
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	padding:10px 10px;
	text-decoration:none;
    margin: 20px 0;
}
.blue{
    background-color: blue;
    color: white;
    width: 200px;

}
